extends ../layout

block content
  a(href='/usuarios') Volver

  br
  br
  br

  h1  Nuevo Usuario

  br
  br

  form(action='/usuarios/create' method='post')
    .form-group
        label(for='nombre') Nombre: 
        input#nombre.form-control(type='text' name='nombre' )
        
    .form-group
        label(for='email') Email: 
        input#email.form-control(type='text' name='email' )
       
    
    .form-group
        label(for='pwd') Password: 
        input#pwd.form-control(type='password' name='password' )
         
    .form-group
        label(for='confirm_pwd') Confirmar Password: 
        input#confirm_pwd.form-control(type='password' )
      
    br
    br
    input.btn.btn-primary(type='submit' value='OK')