extends ../layout

block content
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    .card
        .card-body
            form(action="/bicicletas/create" method="post")
                label(form='id') Id
                input.form-control#id(type="text", name="id")
                br
                label(form='modelo') Modelo
                input.form-control#modelo(type="text", name="modelo")
                br
                label(form='color') Color
                input.form-control#color(type="text", name="color")
                br
                label(form='lat') latitud
                input.form-control#lat(type="text", name="lat")
                br
                label(form='lng') Longitud
                input.form-control#lng(type="text", name="lng")
                br
                br
                input.btn.btn-primary.btn-lg(type="submit", value="OK")